<!-- BARRA DE NAVEGACION -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fas fa-globe-americas"></i>  SNieto Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cv"><i class="fas fa-user-circle"></i> My CV</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/projects" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-cogs"></i> Projects
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/clock">Clock / Chronometer</a></li>
            <li><a class="dropdown-item" href="/tasks">Tasks list</a></li>
            <li><a class="dropdown-item" href="/calculator">Calculator</a></li>
            <li><a class="dropdown-item" href="/videoplayer">HTML5 Video player</a></li>
            <li><a class="dropdown-item" href="/notes">Notes app</a></li>
            <li><a class="dropdown-item" href="/weather">Wheater app</a></li>
            <li><a class="dropdown-item" href="/pong">Pong</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#about"><i class="fas fa-book-open"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact"><i class="fas fa-phone"></i> Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>